#Meta Requirements
fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.3
pydantic==2.7.4
python-dotenv==1.0.1
apscheduler==3.10.4

#API banco Requirements
sqlalchemy==2.0.44
psycopg2-binary==2.9.11

#IA de fotos Requirements
Pillow==12.3.0
google-genai==2.12.1